{% extends "layout/base.html" %}

{% block content %}
  <div class="medium-grey">
    {# Heading #}
    <div class="py-5 text-center light-grey text-light">
      <h1 class="display-5 fw-bold"> NotePad онлайн</h1>
    </div>

    {# Forms & List container #}
    <div class="container py-5">
      {# Form #}
      <form method="post" class="pb-5">
        {% csrf_token %}

        {# Toolbar #}
        <div
            class="btn-toolbar border-secondary border rounded-top py-1 px-2 light-grey text-light"
            role="toolbar">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-type-bold text-light"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-type-italic text-light"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-type-underline text-light"></i>
            </button>
          </div>
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-list-ol text-light"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-list-ul text-light"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-text-left text-light"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-text-center text-light"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    disabled>
              <i class="bi bi-text-right text-light"></i>
            </button>
          </div>

          {# Submit button #}
          <div class="d-flex ms-auto">
            <button type="submit" class="btn btn-outline-info btn-sm ms-auto">
              Зберегти
            </button>
          </div>
        </div>

        {# Note text field #}
        <textarea name="body"
                  class="dark-grey border-top-0 border border-secondary rounded-bottom p-3 bg-white text-light w-100"
                  rows="10"
                  placeholder="Ваша нотатка…"></textarea>

        {# Errors #}
        {% if form.errors.body %}
          <div class="text-danger pt-3">
            {{ form.errors.body }}
          </div>
        {% endif %}
      </form>

      {# Notes list #}
      <div class="notes">
        <h5 class="text-info">Мої нотатки</h5>
        <ul class="list-group">

          {% for note in notes %}
            <li class="list-group-item dark-grey border-secondary">
              <a href="{% url "myapp:note_detail" note.pk %}"
                 class="light-blue">
                {{ note }}
              </a>
              <small class="d-block text-light">
                {{ note.created_at|date:"Y‑m‑d H:i" }}
              </small>
            </li>
          {% empty %}
            <li class="list-group-item dark-grey text-light border-secondary">
              Нотаток поки немає.
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
