.light-grey {
    background-color: #3C4142 !important;;
}

.medium-grey {
    background-color: rgb(42, 45, 47) !important;
}

.dark-grey {
    background-color: #242729 !important;
}

.light-blue {
    color: #B9FFFF;
}


main {
    min-height: calc(100vh - 57px - 72px);
}

textarea:focus {
    outline: none;
}
